html
    head
        meta(charset="UTF-8")
        title Vault Garden
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400italic,700italic" rel="stylesheet" type="text/css")
        block head
    body
        div.container
            div.container__item.landing-page-container
                div.content__wrapper

                    header.header
                        div.menu-icon.header__item
                            span.menu-icon__line
                        h1.heading.header__item
                            block header
                                span Title
                        ul.social-container.header__item
                            li.social__icon.social__icon--fb
                                img(src=require("../resources/icons/github.svg") alt="GitHub")
                            li.social__icon.social__icon--dr
                                img(src=require("../resources/icons/linkedin.svg") alt="LinkedIn")
                            //- li.social__icon.social__icon--in
                            //-     img(src="https://image.flaticon.com/icons/svg/1077/1077042.svg" alt="instagram")

                    p.coords
                        N 60° 08' 55.5"  /  E 24° 39' 24.7"

                    block content
                        div.ellipses-container
                            h2.greeting.hidden
                            div.ellipses.ellipses__outer--thin
                                div.ellipses.ellipses__orbit
                            div.ellipses.ellipses__outer--thick

                        div.scroller
                            p.page-title home
                            div.timeline
                                span.timeline__unit
                                span.timeline__unit.timeline__unit--active
                                span.timeline__unit

                        script(src=require("./ellipses.ts"))


        block footer
